@page "/"
@model Food_Recipes.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Recipe Name / Category / Ingredient:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                    @Html.DisplayNameFor(model => model.Recipe[0].Category)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeIngredients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecipeD.Recipes) {
            string selectedRow = "";
            if (item.ID == Model.RecipeID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
                <td>
                    @{
                        foreach (var ingredient in item.RecipeIngredients)
                        {
                            @ingredient.Ingredient.IngredientName <br />
                        }
                    }
                </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
